.card {
    text-align: center;
    background-image: url('/https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png');
    background-size: cover;
    color: white;
    font-family: roboto;
}

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 150vh;
    background-size: cover;
    font-family: roboto;
}

.main-heading {
    text-align: center;
}

.paragraph {
    text-align: center;
    font-family: roboto;

}

.button {
    background-color: orange;
    color: white;
    height: 36px;
    width: 60px;
    font-family: roboto;
}

.text-underline {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
    font-family: roboto;
}

.todo-card-footer {
    text-align: center;
    font-family: roboto;
}

.todo-description {
    color: white;
    font-family: roboto;
}